.App-header {
  background-color: #222;
  color: #fff;
  margin-bottom: 25px;
  padding: 25px 25px 30px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

a.social-link {
  color: #fff;
  font-family: monospace;
}

a.social-link:hover {
  color: #ccc;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
