body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Model bugfix */
.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 20%;
}
